/**********************
Universal elements
**********************/
body {
  background: #e3d3af;
  background-image: url('elements/headerBackgroundV2.jpg');
  margin: 0;
  font-family: 'Merriweather', serif;
}

/* Header styles */
h1 {
  margin: 0;
  font-size: 200%;
  padding: 1% 0 5% 1%;
}

/**********************
Header elements
**********************/
header {
  background: #e3d3af;
}

.topMenu {
  width: 50%
    
}


/**********************

**********************/